body {
  height: 300vh;
}
.container {
  display: flex;
  flex-direction: row;
}
.box {
  width: 200px;
  height: 200px;
}
.green {
  background-color: #27ae60;
}
.blue {
  position: relative;
  background-color: #2980b9;
}
.blue > span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.orange {
  position: relative;
  background-color: #e67e22;
}
.orange > span {
  position: absolute;
  bottom: 20px;
  right: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.red {
  background-color: #e74c3c;
}
