.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 16px;
  color: #efefef;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 300px;
  height: 500px;
  border-radius: 6px;
  background-size: cover;
  padding: 10px 20px 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg1 {
  background-image: url("bg1.jpg");
}
.bg2 {
  background-image: url("bg2.jpg");
}
.bg3 {
  background-image: url("bg3.jpg");
}
.bg4 {
  background-image: url("bg4.jpg");
}

.category {
  color: white;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.name {
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.info {
  color: white;
}
